[Unit]
Description=pass-close %i
Documentation=https://github.com/roddhjav/pass-tomb

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/pass close --verbose %i
